@import "../design-system/theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background: var(--bg);
    color: var(--text-primary);
    font-family: Inter, system-ui, sans-serif;
}